*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(img/wall.png);
}

header{
    display: flex;
    justify-content: center;
}

.main-title{
    font-family: "Edu Tas Beginner", serif;
    font-weight: 600;
    font-size: 60px;
    padding: 30px;
}

main{
    background-image: url(img/cork.png);
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    margin: 10px;
    border: solid black 4px;
    padding: 20px;
}